{% extends 'base.html' %}

{% block content %}    
    
    <h1>User Sign-up</h1>
    
    <form action="/main.html" method='POST'>
        <label><span class="form_label">Username: </span>
            <input name="username" type="text" value='{{username}}' />
        </label>
        <p class="e">{{username_e}} &nbsp;</p>
        <label><span class="form_label">Password: </span>
            <input name="password" type="password" value='{{password}}' />
        </label>
        <p class="e">{{password_e}} &nbsp;</p>
        <label><span class="form_label">Validate Password: </span>
            <input name="password_validate" type="password" value='{{password_validate}}' />
        </label>
        <p class="e">{{password_validate_e}} &nbsp;</p>
        <label><span class="form_label">Email (optional): </span>
            <input name="email" type="text" value='{{email}}' />
        </label>
        <p class="e">{{email_e}} &nbsp;</p>
        <input class="submit" type="submit" value="Submit" />
    </form>

{% endblock %}  